<h2>Analytics</h2>

<% @short_links.each do |short_link| %>
  <p><strong><%= short_link.long_url %></strong></p>
  <p><%= "#{request.protocol}#{request.host_with_port}/#{short_link.token}" %></p>
  <br>
  <p>Total clicks: <%= short_link.visits_count %></p>
  <p>Top countries: <%= top_countries(short_link) %></p>
  <hr>
<% end %>

<center>
  Showing <%= "#{@offset + 1}-#{@offset + @per_page}" %> of <%= @total_count %> records.
</center>
<br>
<center>
  <%= link_to_if(previous_page, '< prev', stats_path(page: previous_page)) %> |
  <%= link_to_if(next_page, 'next >', stats_path(page: next_page)) %>
</center>
